

/* BOX ZISING */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* ----------- */






/* CONFIGURACION VAR */

:root{
--primario: #0029E0;
--secundario: #0020AD;
--contraste: #6d172c; 
--negro: #000;
--fondoterciario: #6691ad;
--fondosecundario: #1D2A61;
--fondoprimario: #000B3D;
--fondocontraste: #ad66a9;
--fondocontrasteclaro: #db96d5;
--fuenteencabezado: 'Rock Salt', cursive;
--fuentetitulos: 'Patrick Hand', cursive;
--fuenteparrafos: 'Oswald', sans-serif;
--sombra: 0.1em 0.1em 0.2em #000;
--iluminado: 0.05em 0.05em 0.2em #ffffffb4;
--IG: rgb(216, 0, 72);
--youtube: red;
--spotify: rgb(0, 143, 0);


}

/* ----------- */




/*  CONFIGURACION REM */

html{

    font-size: 62.5%;

    scroll-snap-type: y mandatory;
}

body{

    font-size: 16px;



}

/* ----------- */





/* AJUSTES GENERALES */

body{

    background-color: var(--fondoterciario);
    
    font-family:var(--fuentetitulos);
    text-transform: capitalize;
    text-align: center;
    

}

.Seccion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    padding: 1rem;

    

}

.Videoframe{


    padding: 3rem;

    background-color: var(--fondoprimario);

    border-radius: 2rem;

}

.Boton{

    margin: 1rem;

    min-width: 5rem;
    min-height: 4rem;

    padding: 1rem;

    box-shadow: var(--sombra);

    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    border: none;

    font-family: var(--fuenteparrafos);
}

.Boton:hover{

    cursor: pointer;
    font-size: 1.5em;

}

h2{

    margin: 0;
    font-size: 3rem;

}
h3{

    margin: 0;
    font-size: 2.5rem;

}
h4{

    margin: 0;
    font-size: 2rem;

}
p {
    
    margin: 0;
    padding: 1rem 0;
    font-family: var(--fuenteparrafos) ;
    line-height: 2;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    font-size: 1.5rem;


}
a {
    text-decoration: none;
    text-transform: capitalize;
}


.Titulo{

    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--secundario);
    font-family: var(--fuentetitulos);

}
.subtitulo{
    
    margin: 1rem;
    font-family: var(--fuentetitulos);
    text-align: center;
    text-transform: capitalize;
    color: var(--secundario);
    font-size: 2rem;

}
.Sombreado{

    text-shadow: var(--sombra);

}

/* ----------- */




/* ------------------SECCIONES-------------- */


/* ENCABEZADO */

header, footer{  

    background-image: url(../MEDIA/zyzz.png);
    background-repeat:no-repeat;
    background-size:cover;

    height: 10rem;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Encabezado, .Footer{       

    margin: 0;
    font-family:var(--fuenteencabezado);
    text-align: center;
    text-transform: capitalize ;
    text-shadow: 0.1em 0.1em 0.2em #000;
    color:var(--primario);
    font-size: 3rem;

    background-color: rgba(14, 0, 75, 0.5);

    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   


}

.Encabezado span{
    font-size: 1.5rem;
}

.Encabezado, .Introduccion, .Enlaces, .Formulario{

    scroll-snap-align: start;
    scroll-snap-stop: always;

}

/* ----------- */





/* BARRA DE NAVEGACION */

.FondoNav{

    background-color: var(--fondosecundario);
    

}

.NavegacionPrincipal {
    background-color: var(--fondoprimario);
    display: flex;
    justify-content: space-around;
        
}

.Contenedor{

    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    

}

.MenuOptions{
    
    
    font-size: 2.25rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    text-shadow: var(--sombra);
    color: var(--secundario);
    padding: 1rem; 


}

.MenuOptions:hover{

    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: none;
    background-color: var(--fondoterciario);
    color: var(--primario);

}

/* ----------- */




/* BIENVENIDA */

.Bienvenida{

    text-shadow: 0.1em 0.1em 0.2em var(--primario) !important;
    

}

.Bienvenida.Titulo{
    color: var(--negro);
}

.Bienvenida,.Consejos{

    background-image: linear-gradient(to right, var(--fondosecundario) 0%, var(--fondoterciario) 5% 95%, var(--fondosecundario) 100% );

}


/* ----------- */




/* INTRODUCCION */

.Introduccion{

    margin: 0;
    background-color: var(--fondosecundario);

}

/* ----------- */




/* CONTENIDO PRINCIPAL */

.Consejos{

    /* margin: 0;
    display: flex;
    flex-direction: row; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.Contenido{

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

p.Contenido{
    background-color: var(--fondoterciario);
}

.Motivacion{

    background-color: var(--fondosecundario);

}

.Enlaces{      

    flex-direction: row;
    justify-content: space-around;
        
}


.IG{

    color: white;
    background-image: linear-gradient(to bottom right, orangered 0%, var(--IG) 20%, var(--youtube) 60%,  orangered 90%);

}

.YouTube{

    color: white;
    background-color: var(--youtube);

}

.Spotify{

    color: var(--negro);
    background-color: var(--spotify);

}

/* ----------- */

/* --------------------------------------------------- */

/* FORMULARIO */

.Fondoform{

    background-color: var(--fondocontrasteclaro);
     

}

.Formulario{


    width: min(80rem, 100%);


    -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0.1rem 0.1rem 0.5rem 0px rgba(0,0,0,0.75);
    box-shadow: 0.1rem 0.1rem 0.5rem 0px rgba(0,0,0,0.75);


    padding: 1rem;  
    background-color: var(--fondocontraste);
    color: var(--contraste);
    text-shadow: var(--sombra);
    border-radius: 2rem;
}

.Formulario fieldset, input, textarea{

    border: none;

    
}
.Formulario legend{

    margin-bottom: 2rem;

}

.Contenedorcampos{

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: repeat(4, 1fr);

    column-gap: 3rem;

    width: 100%;

    


}

.Campo:nth-child(4){

    grid-row: 1 / 2;
    grid-column: 2 / 3;

}
.Campo:nth-child(5),.Campo:nth-child(3), .Campo:nth-child(2){

    grid-column: 1 / 3;

}





input{

width: 100%;

}

input, textarea{

    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;

}

textarea{
    max-width: 70rem;
}



@media (max-width: 500px){
    
    .NavegacionPrincipal{
        flex-direction: column;
        align-items: center;
    }

    .Contenedorcampos{

        display: flex;
        flex-direction: column;
        justify-content: center;
    
    
    }
    
}
@media (max-width: 800px){
    .Consejos, .Enlaces{
        display: flex;
        flex-direction: column;
        align-items:center;

    }
}





























 

